head{
    background-position: top;
}
body {
display:flex;
align-items:center;
justify-content:center;
height:100vh;
}
#page-loader{
    width:200px;
    height:200px;
}


#page-loader circle{
fill:none;
stroke-width:10;
stroke-linecap:round;
}
#page-loader circle:nth-child(1)
{
    stroke: rgb(0, 132, 255);
    stroke-dasharray: 50;
}

#page-loader circle:nth-child(2)
{
    stroke: rgb(255, 0, 0);
    stroke-dasharray: 100;
}
#page-loader circle:nth-child(3)
{
    stroke: rgb(255, 208, 0);
    stroke-dasharray: 200;
}
#page-loader circle:nth-child(4)
{
    stroke: rgb(0, 132, 255);
    stroke-dasharray: 260;
}
#page-loader circle:nth-child(5)
{
    stroke: rgb(94, 255, 0);
    stroke-dasharray: 350;
}
#page-loader circle:nth-child(6)
{
    stroke: rgb(255, 0, 0);
    stroke-dasharray: 400;
}
@keyframes loader    
    {50%
        {
        transform: rotate(360deg);
    }}

#pageloader circle{
     animation-name: loader;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: center;
}

#page-loader circle:nth-child(1)
{
    animation-delay: -3s;
}

#page-loader circle:nth-child(2)
{
    animation-delay: -5s;
}

#page-loader circle:nth-child(3)
{
    animation-delay: -7s;
}

#page-loader circle:nth-child(4)
{
    animation-delay: -10s;
}
#page-loader circle:nth-child(5)
{
    animation-delay: -15s;
}
#page-loader circle:nth-child(6)
{
    animation-delay: -20s;
}